body {
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.sq{
	border-radius: 0px;
}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }

.page-container{
	margin-top: 100px;
}

.btn-success{
	background-color: #66b745;
}

.shop-container{
	min-height: 1px;
}

.logo{
	margin-top: 5px;
	margin-right: 5px;
}

.hero-wrap,
.hero-wrap:after{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	/*margin-top: 50px;*/
	background-image: url(../img/triathlon-test1.jpg); 
  	background-size: cover;
  	border-bottom: 3px solid #66b745;
}

.hero-wrap:after{ 
    background-image: url(../img/logo.png);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 4;

}


.hero-text{
	color: #fff;
	text-align: left;
	margin:auto;
}

.navbar{
	margin-bottom: 0px;
	border:none;
	max-height: 20px;
	background-color: #838a8a;
	-moz-box-shadow:    0px 2px 5px #000;
   -webkit-box-shadow: 0px 2px 5px #000;
	box-shadow: 0px 2px 5px #000;
	z-index: 9999;
}

.btn-signup {
  margin-top: 5px;
  color: #333;
  background-color: #66b745;
  border-color: #ccc;
}


.navbar-default .navbar-nav > li > a {
color: #fff;
background-color: #838a8a;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #838a8a;
}


.welcome{
	background-color: rgba(0,0,0,0.6);
	-moz-box-shadow:    0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	margin-top: 100px;
	margin-bottom: 25px;
	line-height: 5em;
}

.sales-pitch{
   
   font-size: 24px;
   margin-top: 30px;
}

.sales-pitch p{
	font-size: 16px;
}

.feature-row{
	margin-top: 100px;
	margin-bottom: 50px;
}

.feature-img{
margin-left:auto;
margin-right:auto;
border: 1px solid #999;
}



/*
-------------learn------------
*/


.feature-box{
	margin-bottom: 40px;
}
.feature-box h3{
	text-align: center;
}

.circle-feature{
	width: 49%;
	margin-top: -30px;
	border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
	border: 4px solid #999;


}

.circle-feature:hover{
	
}

.learn-page p{
	font-size: 1.2em;
}

.learn-page .infobox{
	background-color: #f4f4f4;
	padding: 10px;
	margin-bottom: 20px;
}

.learn-page .infobox h3{
	margin-top: 0px; 

}

.learn-page .infobox li{
	font-size: 1.5em;
	color: #66b745;
}

/*
-------------Training Plans------------
*/


.training-plans{
	margin-top: 100px;
}

.training-plans p
{
margin-top: 20px;
}

.training-plans li {

	font-size: 1.25em;
	font-weight: bold;
	line-height: 2em;
	padding-start: 0px;
	color: #66b745;
}

.grid {
	padding: 0px 20px 170px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 415px;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: left;
	position: relative;
	vertical-align: top;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #838a8a;
	color: #000;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}



.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	display: inline-block;
	background: #66b745;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
	-webkit-box-shadow: 0px -3px 8px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px -3px 8px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px -3px 8px 0px rgba(50, 50, 50, 1);
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/*
------product page----------
*/



.price{
	font-size: 2em;
}




/*
-------------blog------------
*/

.blog-sidebar{
	
}

.blog-sidebar h3{
 	margin-top: 0px;
 	text-align: center;
}

.blog-sidebar p{
	background-color: #f4f4f4; 
	padding: 5px;
}

.blog{
	margin-top: 20px;

}


.blog-post{
	border: 1px solid #D6D6D6;
	padding: 20px;
	margin-bottom: 20px;
}

.blog-post p{
	font-size: 1.2em;
}

.blog-post h2{
	color:#66b745;
}

.tags{
	margin-left: 0px;
} 

.blog-tags{
	font-size: 1.5em;
}

.blog-tags li{
	font-size: 0.7em;
	color: #66b745;
	text-indent: 5px;
}

.blog-tags li:hover{

}



.byline{
	content: By;
	font-style: italic;
	color: #666;
}
.byline:before {
   content: "By ";
}

.blog-icon{
	width: 100%;
	max-width: 30px;
	margin-top: 10px;
}

.date{
color: #fff;
width: 65px;
margin-top: 20px;
margin-left: -36px;
background-color: #66b745;
/*border-bottom: 2px solid #367303;
border-right: 2px solid #367303;*/
padding: 5px;
font-weight: bold;
}

.feature-image{
	margin-top: 10px;
	margin-bottom: 10px;
}

.article-img{
	float: left;
	padding-right: 20px;
	padding-bottom: 5px;
}

.read-more:before{
	content: "Read more...";
}

.pagination{
	
}


.profpic-sm{
 width: 60px;
 height: 60px;
 border:2px solid;
 float: left;
 
 } 

.athlete-pic{
margin-left: auto;
margin-right: auto;

border-radius: 50%;
clear: right;
width: 100%;
max-width: 150px;
height: inherit;
border: 5px solid #5ebb46;
}



/*
---------Footer----------
*/


.footer {
	height: 100%;
    clear: both;
    position: relative;
    z-index: 9;
    height: 250px;
    margin-top: 30px;
    background-color: #66b745;
}

.footer ul{
	padding-top: 20px;
	text-align: center;
	font-style: bold;
	font-size: 16px;
	color: #fff;
}

.footer a{
	color: #fff;
}

.blue-area{
	background-color: blue;
	height: 100%;
}


/*

 -- Need Help With: --

 - When the feature images responsive-collapse, they need to stack like:

 		--img--
 	   --text--

 		--img--
 	   --text--

 		--img--
 	   --text--



*/



/*@media (max-width: 992px) {
  .footer {
	height: 500px;
	  }
}*/
/*.hero-wrap h1{
	margin: 30px auto;
	color: white;
	text-align: left;
	
}*/


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}